@import url('./jquery-sakura.css');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css');

* {
	font-family: 'Arvo', serif;
  --purple: #674ea7;
  --red: #e25c67;
  --maroon: #874562;
  --white: #fff;
  --smoke: #eee;
  --gray: #564861;
}

html {
  scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.shake {
  animation: shake 2s 10s;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-8px);}
  20%, 40%, 60%, 80%,100% {transform: translateX(8px);}
}

.sakura {
  z-index: 99;
}

img {
	max-width: 100%;
	height: auto;
}

@media (max-width:900px) {
	.decoration {
		max-width: 35%;
	}
}

.decoration {
  display: block;
	position: absolute;
  top: 0;
}

.top-left {
	left: 0;
}

.top-right {
	right: 0;
}

.title {
	text-align: center;
  margin-bottom: 24px;
}

.title h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 3rem;
	margin: 24px 0;
	color: var(--maroon);
}

.title h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 2rem;
	color: var(--purple);
	line-height: 1;
}

.title h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 24px;
	color: var(--maroon);
	margin-top: 5px;
}

.title p {
	color: var(--gray);
	margin: 30px 0 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1rem;
}

.date {
	color: var(--red);
	font-weight: bolder;
}

.place {
	color: var(--red);
	font-weight: bolder;
}

.dance-med {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-style: normal;
	font-size: 2rem;
	color: var(--maroon);
	margin: 16px;
	text-align: center;
}

#time {
  margin: 0 0 24px;
	padding: 20px;
	background-color: var(--smoke);
	border-radius: 20px;
	font-size: 1rem;
  color: var(--maroon);
	
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
}

.unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--maroon);
  padding: 0 4px;
}

.unit:last-child {
  border-right: none;
}

.unit div:first-child {
  font-size: 2.5rem;
  font-weight: 900;
}

.unit div:last-child {
  font-size: 0.8rem;
}

#card-slider {
  margin-top: 40px;
  height: 30vw;
  width: 20vw;
  border-radius: 24px;
  -webkit-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 900px) {
  #card-slider {
    height: 80vh;
    width: 100vw;
  }
}

#card-slider .card-container {
  height: 100%;
  width: 100%;
  border-radius: 24px;
}

#card-slider img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: inherit;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-slide > div {
  height: 100%;
}

button.slick-arrow {
  background-color: var(--maroon);
  border-radius: 50%;
}

section.info {
  display: flex;
  flex-direction: row;
  max-width: 100rem;
  margin: 8rem auto;
}

section.info article {
  margin: 0 4rem;
  width: calc(50% - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--gray);
}

section.info h3 {
  font-family: 'Dancing Script', cursive;
  color: var(--maroon);
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem auto;
}

section.info p {
  font-size: 1.5rem;
}

section.info .highlight {
  filter: drop-shadow(2px 4px 2px var(--red));
  font-weight: bold;
}

section.info img {
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 60vh;
  opacity: .9;
  -webkit-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  border: 2rem solid var(--smoke);
  border-bottom-width: 5rem;
  transform: rotate(2deg);
}

@media only screen and (max-width: 900px) {
  section.info {
    max-width: unset;
    width: calc(100% - 4rem);
    flex-direction: column;
    margin: 0 auto 3rem;
  }

  section.info article {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section.info h3 {
    font-size: 2.5rem;
  }

  section.info p {
    font-size: 1rem;
  }

  section.info img {
    margin-top: 2rem;
    width: calc(100% - 2rem);
    border-width: 1rem 1rem 3rem 1rem;
    -o-object-fit: cover;
    object-fit: cover;
    height: auto;
  }
}

.actions {
	display: flex;
	font-size: 0.8rem;
	letter-spacing: 0pt;
}

.venue {
	background-color: var(--maroon);
	border-radius: 1rem;
	text-align: center;
	color: var(--white);
	padding: 8px;
	margin-right: 8px;
  cursor: pointer;
  -webkit-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
}

.venue a {
	text-decoration: none;
	color: var(--white);
}

.footer {
	color: var(--gray);
	text-align: center;
	font-size: 1rem;
	margin: 32px 24px 24px;
}

.love {
  margin-top: 0;
}

.end-msg {
	width: auto;
	height: auto;
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	color: #fff;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

.happiness {
  background-color: var(--maroon);
  border-radius: 1rem;
  color: var(--white);
  padding: 8px;
	font-size: 1.4rem;
	margin: 8px 0 24px 0;
  border-style: none;
  cursor: pointer;
  -webkit-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 375px) {
  .happiness {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .happiness {
    font-size: 1rem;
  }
}

.scrollToTopBtn {
  background-color: var(--maroon);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 100px;
  right: 10px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

@media screen and (max-width: 425px) {
  .scrollToTopBtn {
    bottom: 110px;
  }
}

@media screen and (min-width: 768px) {
  .scrollToTopBtn {
    right: 30px;
  }
}

.showBtn {
  opacity: 0.85;
  transform: translateY(0);
}

.music {
	display: none;
}